* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none
}

/******************* app *******************/

.app {
  display: flex;
  height: 100%;
  width: 100%;
}

.left,
.right,
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.main {
  width: 50%;
}

/******************* main *******************/

/******************* left *******************/

/******************* right *******************/

/******************* ellipseChart *******************/

.ellipseChart {
  height: 320px;
  width: 420px;
}

