* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/background.png");
  background-size: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none
}

/******************* app *******************/

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top {
  height: 70%;
}

.bottom {
  height: 30%;
  padding: 0 30px 20px;
}

.left,
.right {
  display: flex;
  height: 100%;
  width: 25%;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

/******************* main *******************/

/******************* left *******************/

/******************* right *******************/

/******************* bottom *******************/

.bottom .bg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-image: url("../images/bottom.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/******************* ellipseChart *******************/

.ellipseChart {
  height: 250px;
  width: 450px;
}

.ellipseChart .title {
  font-size: 22px;
  font-family: 'Adobe Heiti Std';
  fill: rgb(15, 158, 229);
  line-height: 1.2;
  text-align: center;
}

.ellipseChart .y-ray,
.ellipseChart .x-ray {
  fill: #a5a6bb;
}

.squareChart {
  height: 250px;
  width: 450px;
}

.squareChart .title {
  font-size: 22px;
  font-family: 'Adobe Heiti Std';
  fill: rgb(15, 158, 229);
  line-height: 1.2;
  text-align: center;
}

.squareChart .y-ray,
.squareChart .x-ray {
  fill: #a5a6bb;
}


