* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/background.png");
  background-size: 100% 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none
}

.green {
  fill: #57c550;
  fill-rule: evenodd;
  stroke: #57c550;
  stroke-width: 2px;
}

.red {
  fill: red;
  fill-rule: evenodd;
  stroke: red;
  stroke-width: 2px;
}

.orange {
  fill: #ff9510;
  fill-rule: evenodd;
  stroke: #ff9510;
  stroke-width: 2px;
}

.breath {
  transform-origin: 50% 50%;
  animation: myBreath 5s infinite;
}

@keyframes myBreath {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  to {
    transform: scale(1, 1);
  }
}

/******************* app *******************/

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top {
  height: 70%;
}

.bottom {
  height: 30%;
  padding: 0 30px 20px;
}

.left,
.right {
  display: flex;
  height: 100%;
  width: 25%;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

/******************* main *******************/

.main .bg {
  height: 525px;
  width: 525px;
  background-image: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/******************* left *******************/

/******************* right *******************/

/******************* bottom *******************/

.bottom .bg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-image: url("../images/bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/******************* ellipseChart *******************/

.ellipseChart,
.squareChart {
  height: 250px;
  width: 450px;
}

.ellipseChart .title,
.squareChart .title {
  font-size: 22px;
  fill: rgb(15, 158, 229);
  line-height: 1.2;
  text-align: center;
}

.ellipseChart .y-ray,
.ellipseChart .x-ray,
.squareChart .y-ray,
.squareChart .x-ray {
  fill: #a5a6bb;
}

/******************* directedGraph *******************/

.directedGraph {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.directedGraph svg {
  position: absolute;
}

.radar {
  position: absolute;
  top: -50px;
  left: 270px;
  transform-origin: 3px 56%;
  animation: myRotate 2s infinite linear;
}

@keyframes myRotate {
  from {
    transform: rotate(0) scale(1.25);
  }
  to {
    transform: rotate(360deg) scale(1.25);
  }
}

