<div class="circleChart">
  <svg height="150px" width="150px" viewBox="0,0,300,300">
    <circle fill="none" stroke="rgba(225, 231, 240, .12)" stroke-width="30" stroke-miterlimit="10" cx="150" cy="150"
            r="120"/>
    <text x="150" y="150" text-anchor="middle">
      <tspan x="150" dy="-20" class="gray" style="font-size: 25px">分配比例</tspan>
      <tspan x="150" dy="60" class="yellow" style="font-size: 30px">
        {{CircleChartCtrl.percent.toFixed(1)}}%
      </tspan>
    </text>
    <linearGradient id="grad_green" gradientUnits="userSpaceOnUse" x1="150" y1="270" x2="270" y2="150">
      <stop offset="0" style="stop-color:#58c84d"/>
      <stop offset="1" style="stop-color:#5486ae"/>
    </linearGradient>
    <linearGradient id="grad_orange" gradientUnits="userSpaceOnUse" x1="150" y1="270" x2="270" y2="150">
      <stop offset="0" style="stop-color:#fe4453"/>
      <stop offset="1" style="stop-color:#ff9b0a"/>
    </linearGradient>
    <linearGradient id="grad_blue" gradientUnits="userSpaceOnUse" x1="150" y1="270" x2="270" y2="150">
      <stop offset="0" style="stop-color:#228cd4"/>
      <stop offset="1" style="stop-color:#09c8f4"/>
    </linearGradient>
  </svg>
  <div class="info">
    <div class="title blue">{{CircleChartCtrl.title}}</div>
    <div class="total gray">{{CircleChartCtrl.detail.totalName}}：{{CircleChartCtrl.detail.totalValue}}</div>
    <div class="gray">{{CircleChartCtrl.detail.usageName}}：{{CircleChartCtrl.detail.usageValue}}</div>
  </div>
</div>
