<div class="squareChartBox">
  <svg class="squareChart" viewBox="80,-30,300,300" height="100%" width="100%">
    <text class="y-ray">
      <tspan x="30" y="75" text-anchor="end">100</tspan>
      <tspan x="30" y="140" text-anchor="end">50</tspan>
      <tspan x="26" y="205" text-anchor="end">0</tspan>
    </text>
    <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-dasharray="1, 4"
          stroke-linecap="round" stroke-linejoin="miter"
          opacity="0.2" fill="rgb(20, 20, 20)" d="M40, 70 H 460"></path>
    <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-dasharray="1, 4"
          stroke-linecap="round" stroke-linejoin="miter"
          opacity="0.2" fill="rgb(20, 20, 20)" d="M40, 127.5 H 460"></path>
    <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-dasharray="1, 4"
          stroke-linecap="round" stroke-linejoin="miter"
          opacity="0.2" fill="rgb(20, 20, 20)" d="M40, 190 H 460"></path>
  </svg>
  <div class="title blue">{{SquareChartCtrl.chart.title}}</div>
  <div class="x-ray">
    <span ng-repeat="name in SquareChartCtrl.chart.names">
      {{name}}
    </span>
  </div>
</div>
