* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SourceHanSansCN', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../img/bg.png');
    background-size: 100% 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}
