.top {
  .title {
    height: 100%;
    padding-top: 5px;
    .name {
      font-weight: bold;
      letter-spacing: 8px;
      font-size: 36px;
      color: rgb(151, 241, 254);
    }
    .datetime {
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 14px;
      color: rgb(131, 226, 245);
    }
  }
}
