
<div class="system">
  <span class="title blue">系统健康值</span>
  <my-chart data="LeftCtrl.charts[0].data" my-style="LeftCtrl.charts[0].style"></my-chart>
</div>
<div class="state">
  <div class="inner">
    <div class="host">
      <span class="title blue">主机状态</span>
      <div class="chart">
        <span class="value yellow">{{LeftCtrl.charts[1].total}}</span>
        <my-chart data="LeftCtrl.charts[1].data" my-style="LeftCtrl.charts[1].style"></my-chart>
      </div>
      <div class="detail">
        <span class="running green">{{LeftCtrl.charts[1].normal || 0}}</span>
        <span class="trouble orange">{{LeftCtrl.charts[1].abnormal || 0}}</span>
        <span class="stopped red">{{LeftCtrl.charts[1].poweroff || 0}}</span>
      </div>
    </div>
    <div class="virtual">
      <span class="title blue">虚拟机状态</span>
      <div class="chart">
        <span class="value yellow">{{LeftCtrl.charts[2].total}}</span>
        <my-chart data="LeftCtrl.charts[2].data" my-style="LeftCtrl.charts[2].style"></my-chart>
      </div>
      <div class="detail">
        <span class="running green">{{LeftCtrl.charts[2].normal || 0}}</span>
        <span class="trouble orange">{{LeftCtrl.charts[2].abnormal || 0}}</span>
        <span class="stopped red">{{LeftCtrl.charts[2].poweroff || 0}}</span>
      </div>
    </div>
  </div>
</div>
