.directedGraph {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  .label {
    position: absolute;
    left: 0;
    top: 10px;
    color: rgb(15, 158, 229);
  }
  .outer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../common/img/outer.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 5s infinite linear;
    @keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .cloud {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../common/img/cloud.png');
    background-size: 26%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../common/img/shadow.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  svg {
    position: absolute;
    left: 0;
    top: 10px;
  }
}
