<div class="bg">
  <div class="inner">
    <square-chart chart="BottomCtrl.charts[0]" a="32" b="18" h="150" x0="55" y0="50"
                  delta-x="80" delta-h="10"></square-chart>
    <ellipse-chart chart="BottomCtrl.charts[1]" rx="32" ry="10" h="150" x0="55" y0="50"
                   delta-x="80" delta-h="15"></ellipse-chart>
    <square-chart chart="BottomCtrl.charts[2]" a="32" b="18" h="150" x0="55" y0="50"
                  delta-x="80" delta-h="10"></square-chart>
    <ellipse-chart chart="BottomCtrl.charts[3]" rx="32" ry="10" h="150" x0="55" y0="50"
                   delta-x="80" delta-h="15"></ellipse-chart>
  </div>
</div>
