.dash-board {
  position: relative;
  display: flex;
  height: 160px;
  width: 100%;
  max-width: 280px;
  align-items: center;
  justify-content: center;
  .label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(15, 158, 229);
  }
}
