.circleChart {
  position: relative;
  display: flex;
  height: 100%;
  width: 300px;
  align-items: center;

  .info {
    flex: auto;
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    padding: 10px 0 10px 10%;

    .title {
      font-size: 16px;
    }
  }
}
