<div class="circleChart">
  <svg xmlns="http://www.w3.org/2000/svg" height="100%" width="50%" viewBox="0,0,300,300">
    <circle fill="none" stroke="rgba(225, 231, 240, .12)" stroke-width="30" stroke-miterlimit="10" cx="150" cy="150" r="120"></circle>
    <text x="150" y="150" text-anchor="middle">
      <tspan x="150" dy="-20" class="gray" style="font-size: 25px">分配比例</tspan>
      <tspan x="150" dy="60" class="yellow" style="font-size: 30px">
        {{(CircleChartCtrl.chart.detail.percent * 100).toFixed(1)}}%
      </tspan>
    </text>
  </svg>
  <div class="info">
    <div class="title blue">{{CircleChartCtrl.chart.title}}</div>
    <div class="total gray">
      {{CircleChartCtrl.chart.detail.total.name || '总数'}}：{{CircleChartCtrl.chart.detail.total.value}} {{CircleChartCtrl.chart.detail.total.unit}}
    </div>
    <div class="gray">
      {{CircleChartCtrl.chart.detail.usage.name || '已分配'}}：{{CircleChartCtrl.chart.detail.usage.value}} {{CircleChartCtrl.chart.detail.usage.unit}}
    </div>
  </div>
</div>
