<div class="bg">
  <square-chart height="160px" width="400px" a="32" b="18" h="150" delta-x="80" delta-h="10"></square-chart>
  <ellipse-chart chart="BottomCtrl.charts[0]" height="160px" width="400px" rx="32" ry="10" h="150" delta-x="80"
                 delta-h="15"></ellipse-chart>
  <square-chart height="160px" width="400px" a="32" b="18" h="150" delta-x="80" delta-h="10"></square-chart>
  <ellipse-chart chart="BottomCtrl.charts[1]" height="160px" width="400px" rx="32" ry="10" h="150" delta-x="80"
                 delta-h="15"></ellipse-chart>
</div>
